@model IEnumerable<Project_Sem_3.Models.OrderMst>
@using Project_Sem_3.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Orders</h2>

<div class="card">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            @using (Html.BeginForm("Search", "Order", FormMethod.Post))
            {
                <div class="input-group input-group-sm" style="width: 250px;">
                    <input type="text" name="key" class="form-control float-right" placeholder="Search Customer...">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="max-height: 500px">
        <table class="table table-head-fixed">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserMst.Username</td>
                        <td>@item.FullName</td>
                        <td>@item.Phone</td>
                        <td>@item.City</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
                        @{
                            var status = Status.GetStatusList().Find(s => s.Number == item.Status);
                        }
                        <td>@status.Name</td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->