@model IEnumerable<Project_Sem_3.Models.UserMst>
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Users</h2>

<div class="card">
    <div class="card-header">
        <div class="card-tools">
            @using (Html.BeginForm("Search", "User", FormMethod.Post))
            {
                <div class="input-group input-group-sm" style="width: 250px;">
                    <input type="text" name="key" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="max-height: 500px">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Username</td>
                        <td>@item.FullName</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
