@using PagedList.Mvc
@model PagedList.IPagedList<Project_Sem_3.Models.Product>
@section css {
    <link rel="stylesheet" href="~/Content/user/Search.css">
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="breadcrumb">
    <ul class="breadcrumb__container">
        <li class="breadcrumb__list">
            <a class="link" href="">Home</a>
        </li>
        &nbsp;|&nbsp;
        <li class="breadcrumb__list">
            <span class="text text--second">Search</span>
        </li>
    </ul>
</nav>
<div class="title-box">
    <div class="title-box__container">
        <h1 class="text title-box__text">Search</h1>
    </div>
</div>
<div class="search">
    <div class="search__container">
        <div class="content">
            <div class="content__container">
                <div class="content__header">
                    <div class="content__title text">Keyword : @ViewBag.Key</div>
                </div>
                <div class="content__body">
                    <!-- Item Start -->
                    @{ foreach (var product in Model)
                        {
                            <div class="item">
                                <div class="item__box">
                                    <div class="item__image">
                                        <a href="@Url.Action("Index", "ProductDetail", new { id = product.Item.ID })">
                                            <img src="~/Content/images/product/@product.Item.Image" alt="@product.Item.Name">
                                        </a>
                                    </div>
                                    <div class="item__information">
                                        <div>
                                            <a class="link link--second" href="@Url.Action("Index", "ProductDetail", new { id = product.Item.ID })">@product.Item.Name</a>
                                        </div>
                                        <div class="text text--second">
                                            @{
                                                if (product.Item.Price > 0)
                                                {
                                                    if (product.Discount <= 0)
                                                    {
                                                        <span>$@product.Item.Price</span>
                                                    }
                                                    else
                                                    {
                                                        <span>$@product.Sale <small><del>$@product.Item.Price</del></small></span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span>Contact us</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!-- Item End -->
                </div>
                <ul class="content__pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, keyword = ViewBag.Key }))
                </ul>
            </div>
        </div>
    </div>
</div>